@import "public/static/styles/main/function";

.box-scroll {
  overflow: hidden;
  // height: 100%;
  background: rgba(2, 2, 37, 0.9);
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(15, 138, 238);
  // margin-bottom: 2rem;
  // &-left {
  // }
  &-s {
    // background: url('../../assets/images/box-s-bottom.png') no-repeat bottom center;
    & > dt {
      // background: url('../../assets/images/box-s-top.png') no-repeat top center;
    }
    & > dd {
      // background: url('../../assets/images/box-s-bg.png') repeat-y center center;
    }
  }
  &-l {
    // background: url('../../assets/images/box-l-bottom.png') no-repeat bottom center;
    & > dt {
      // background: url('../../assets/images/box-l-top.png') no-repeat top center;
    }
    & > dd {
      // background: url('../../assets/images/box-l-bg.png') repeat-y center center;
    }
  }
  &-s, &-l {
    background-size: 100% auto;
    -webkit-background-origin: padding-box; /* Safari */
    background-origin: padding-box;
    & > dt {
      height: 2.35rem;
      line-height: 2.3rem;
      // overflow: hidden;
      padding: 0 1.3rem;
      font-size: 0.9rem;
      text-align: left;
      background-size: 100% auto;
      -webkit-background-origin: padding-box; /* Safari */
      background-origin: padding-box;
      // background : linear-gradient(to top, #2d51ac, #0e265a);
      & > h3 {
        display: inline-block;
        font: normal 0.9rem/2.35rem "Microsoft YaHei";
        color: #fff;
      }
      .tool-bar {
        float: right;
        overflow: hidden;
        padding-top: 0.7rem;
        // margin-bottom: 10px;
        .btn-r {
          float: right;
          margin-left: 1rem;
        }
        label {
          color:#F2FDEF !important;
          font-weight: normal !important;
        }
        input, .btn-r {
          color: #fff !important;
          background: transparent !important;
          border-color: #1C467B !important;
        }
      }
    }
    & > dd {
      // display: flex;
      // flex-direction: column;
      height: calc(100% - 3.3rem);
      background-size: 100% auto;
      padding: 0.5rem 1.1rem 0.3rem;
      .form-box {
        width: 100%;
        margin: 8px 0;
        .icon-s {
          width: 1rem;
          height: 1rem;
          font-size: 1rem !important;
          color: #02AFFF !important;
        }
        .wd-auto, .wd-half {
          // width: calc(50% - 32px -2rem) !important;
          margin-right: 0.5rem !important;
        }
        .wd-full {
          width: 100%;
          .ant-form-item-control-wrapper {
            display: block !important;
          }
        }
        .wd-p40 {
          width: 40%;
        }
        .wd-p30 {
          width: 30%;
        }
        .wd-p25 {
          width: 25%;
        }
      }
      
      .ul-duty-con {
        @extend %display_flex;
        @include flex-flow(column, nowrap, normal);
        // @include align-items(stretch);
        @include justify-content(flex-start, justify);
        height: 100%;
        color: #fff;
        li {
          background: hsla(209, 68%, 22%, 0.4);
          border-radius: 4px;
          padding: 0.25rem 1rem;
          margin: 0.25rem 0;
          h5, h6 {
            float: left;
            color: #02AFFFFF;
            font-size: 0.8rem;
            line-height: 2.2rem;
          }
          h5 { width: 30%; }
          h6 {
            width: 25%;
            line-height: 1.5rem;
          }
          .con {
            .cell, .cell-m {
              float: left;
              width: 35%;
            }
            .cell-l, .cell, .cell-m {
              line-height: 1.1rem;
              font-size: 0.7rem;
              label {
                float: left;
                display: block;
                width: 3.6rem;
                color: #A2D6FFFF;
              }
            }
            .cell-m {
              width: 25%;
              line-height: 1.5rem;
            }
          }
        }
      }
      .scroll {
        height: 100%;
        overflow-y: auto;
        margin-right: -0.6rem;
        padding-right: 0.6rem;
      }
      .ul-info-box {
        overflow: hidden;
        li {
          // height: 5rem;
          overflow: hidden;
          // margin: 5px auto;
          margin-bottom: 10px;
          padding: 0.3rem 0.5rem;
          border-radius: 0.3rem;
          background-color: #12395E;
          box-sizing: content-box;
          font: normal 0.7rem/1.2rem 'Microsoft YaHei';

          & > img {
            float: left;
            width: 5rem;
            height: 4.5rem;
            margin-right: 1rem;
            border-radius: 3px;
            background-color: rgb(53, 110, 168);
          }
          & > .con {
            display: block;
            .title {
              height: 1.36rem;
              strong {
                font: bold 0.8rem/1.2rem 'Microsoft YaHei';
                color: #fff;
              }
              .tag-blue, .tag-red, .tag-green {
                float: right;
                display: inline-block;
                padding: 0 3px;
                color: #fff;
                font: normal 0.8rem/1.33rem 'Microsoft YaHei';
                border-radius: 3px;
              }
              .tag-blue {
                background-color: #3686DA;
              }
              .tag-red {
                background-color: #e71325;
              }
              .tag-green {
                background-color: #13eb30;
              }
            }
            .icon-f {
              float: left;
              margin-right: 5px;
            }
            p {
              overflow: hidden;
              text-overflow: ellipsis;  //文本溢出显示省略号
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              color: #fff;
              // .time {
              //   margin-left: 10px;
              // }
            }
            .more {
              float: right;
              text-decoration: underline;
              color: #02AFFF;
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }
}